body
{
    font-family: Helvetica , sans-serif;
    color: #000;
    font-size: 14px;
    text-align: center;
}

.main
{
    margin: auto;
    width: 1000px;
}

.header
{
    position: relative;
    top: 45px;
}

.controls
{
    margin-bottom: 5em;
}

.input
{
    display: none;
}

.label
{
    padding: 5px 10px;
    border: 1px solid #cecece;
    background: -webkit-linear-gradient(top, rgba(247,247,252,1) 46%,rgba(221,223,227,1) 100%,rgba(245,246,246,1) 100%);
}

.label:hover
{
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 9%,rgba(238,238,238,1) 93%,rgba(238,238,238,1) 100%);
}

.controls input:checked + .label
{
    background: #f7f7f7;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
}

.mobile
{
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.desktop
{
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

    margin-right: -5px;
}

.bar-chart
{
    cursor: pointer;
}

.bar-header
{
    font-weight: bold;
}

.arc-label
{
    font-size: 12px;
    font-weight: bold;
}

.arc
{
    -webkit-transition: all .2s ease-in-out;

}
.arc:hover
{
    -webkit-transform: scale(1.1);
}

.header
{
    font-weight: bold;
}

.summary
{
    text-transform: lowercase;
    font-size: 12px;
}

.version
{
    text-transform: lowercase;
    font-size: 14px;
    font-weight: bold;
}
